.section {
  display: flex;
  gap: 16px;
  margin-bottom: 22px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-height: 400px;
}

.container {
  padding: 10px;
}

.img {
  padding: 5px;
  border: solid 2px #4a4e69;
}

.title {
  font-size: 46px;
  color: #223d40;
  font-weight: 900;
}

.date {
  font-size: 12px;
  margin-bottom: 16px;
}

.tagline {
  font-size: 18px;
  margin-bottom: 21px;

  padding: 10px;
  border-radius: 10px;
  background-color: #7d8b8c;
}

.genresList {
  list-style-type: circle;
}

.genre {
  font-size: 16px;
}

.genres {
  font-size: 18px;
}

.overview {
  padding: 20px;
  border-radius: 10px;
  background-color: #7d8b8c;
  height: 100%;
}

.goBack {
  padding: 10px;
  border-radius: 10px;
  background-color: #7d8b8c;
  border: none;
  color: #0d0d0d;
  text-decoration: none;
  font-weight: bolder;
  margin-top: 10px;
  display: block;
  margin-bottom: 10px;
  width: 80px;
  text-align: center;
}

.goBack:hover {
  background-color: #223d40c9;
}

.rightSection {
  display: flex;
}

.linkTo {
  padding: 10px;
  border-radius: 10px;
  background-color: #7d8b8c;
  border: none;
  color: #0d0d0d;
  text-decoration: none;
  font-weight: bolder;
  margin-top: 20px;
  display: block;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}

.linkTo:hover,
.linkTo:focus {
  background-color: #223d40c9;
}

.outlet {
  display: block;
}

.navLinks {
  display: flex;
}
