.link {
  font-size: 24px;
  text-decoration: none;
  color: #0d0d0d;
}

.active {
  color: #7d8b8c;
}

.list {
  display: flex;
  align-items: center;
  gap: 18px;
  background-color: #455759;
  padding: 28px;
}

.icon {
  height: 38px;
  width: 38px;
}

.icon:hover {
  color: #7d8b8c;
}

.link:hover {
  color: #7d8b8c;
}
