.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.item {
  color: #22223b;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.item:hover {
  color: #ae3e34;
  transform: scale(1.1);
}

.img {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.li {
  border: 2px solid #cacade;
  background-color: #ffffff;
  padding: 10px;
  width: 350px;
}
